<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GODInventoryWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GODInventoryWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="GODDbContext" connectionString="server=13.73.239.73;user=remote;password=666666;database=god_om2_bak;allowuservariables=True;characterset=utf8;Pooling=true;default command timeout=500;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="GODDbContext" connectionString="server=127.0.0.1;user=root;password=root;database=god_om2;Allow User Variables=True;characterset=utf8;Pooling=true;default command timeout=500;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="EncryptedGODDbContext" providerName="MySql.Data.MySqlClient"  connectionString="67t9tQFZyMQD/qpB8yoQECCVdricjblreKYe8LHfPCkeM3ZQYAf+kwd7/jFSolwFcNFpkUcmYpPQMxVrAbS5ORHdYZCXKY+Gj4ZSoD3cp2GaXY7V5fSlxCeUEXkfwFmdH6u+n7SezW4D1TkN/0dig4ZeRS1ag6zDbezg8caQjqb/IqlfSrcvPoX8e7atLTDq"/>-->
    <!--<add name="GODDbContext" connectionString="server=127.0.0.1;user=root;password=root;database=god_test;Allow User Variables=True;characterset=utf8;Pooling=true;default command timeout=500;" providerName="MySql.Data.MySqlClient" />-->
    <add name="EncryptedGODDbContext" providerName="MySql.Data.MySqlClient"  connectionString="67t9tQFZyMQD/qpB8yoQECCVdricjblreKYe8LHfPCkeM3ZQYAf+kwd7/jFSolwFHO7ekp4EtGDPTW09D3FjYYyisihCCLHyrbO93Hcj/iMaqcdEX72+07WS7v6M9bnNnCEcwpQyy6R/hoCqe/KSH1E3RwXd12lTMybyEuAp4cQBB4FGDrzstVGrfYKCTLe331RpKTiituY="/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <!-- <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" /> -->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <GODInventoryWinForm.Properties.Settings>
      <setting name="NFWEInstallDir" serializeAs="String">
        <value>d:\NAFCO\NFWE\client</value>
      </setting>
      <setting name="Createorder_scc" serializeAs="String">
        <value>249706</value>
      </setting>
      <setting name="Createorder_hsbsc" serializeAs="String">
        <value>249706</value>
      </setting>
      <setting name="Createorder_sog" serializeAs="String">
        <value>株式会社ジー・オー・ディ</value>
      </setting>
      <setting name="InventoryStartAt" serializeAs="String">
        <value>2016-01-01</value>
      </setting>
      <setting name="taxRate" serializeAs="String">
        <value>0.08</value>
      </setting>
    </GODInventoryWinForm.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <GODInventoryWinForm.Properties.Settings>
      <setting name="InitialOrderStatus" serializeAs="String">
        <value>0</value>
      </setting>
    </GODInventoryWinForm.Properties.Settings>
  </applicationSettings>
</configuration>